# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
backend/lerna-debug.log*
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

backend/node_modules
backend/dist
backend/dist-ssr
backend/*.local
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
backend/.vscode/*
backend/!.vscode/extensions.json
backend/.idea
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea

# Environment variables
backend/.env
backend/.env.local
backend/.env.*.local
backend/.env.production
backend/.env.*.production
backend/.env.development
backend/.env.*.development

frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.env.production
frontend/.env.*.production
frontend/.env.development
frontend/.env.*.development
